.table-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
}

.table-key {
    width: 100px;
    display: block;
    color: #444444;
}

.table-value {
    width: 350px;
    color: #777777;
}