.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    flex-direction: column;
    margin: 25px auto;
    line-height: 1.4;
    font-weight: 600;
}

.features-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.table-heads {
    color: #444444;
    font-size: 14px;
    line-height: 2.5;
    margin: 10px;
}

.feature-table-row td {
    text-align: left;
    font-size: 14px;
    padding: 0px 6px;
    font-weight: 600;
}

.feature-table-row td:nth-child(2) {
    text-align: center;
}